:root {
    /*--Colours--*/
    --text-color:  aliceblue;
    --primary-color: #102747;
    --secondary-color: linear-gradient(#00050d, #3866a6);
    --hover: #0D1C33;
    --background-colour: rgba(0, 0, 0, 0.8); 
    --red: #800e32;
    --green: #055d2c;
  }
  body {
    font-family: 'lato';
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    color: var(--text-color);
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    overflow-x: hidden; 
}
a
{
    text-decoration: none;
    color: var(--text-color);
}
p {
    font-size: 18px;
    line-height: 2;
    text-align: center;
}

h1 {
    text-align: center;
    font-style: italic;
    font-size: 50px;
    margin-top: 20px;
    text-shadow: 2px 2px 2px var(--text-color);
}
h2  {
    text-align: center;
    margin-top: 30px;
    font-size: 32px;
    font-weight: bold;
}


ul{
    list-style-type: none;
    padding: 0;
    margin: 0;

}
li {
    font-family: 'lato';
    font-size: 20px;
    text-align: center;
    padding: 15px 0; 
    background-color: var(--primary-color);
    border: 0 solid;
    border-radius: 15px;
    color: var(--text-color);  
}
.modal-form {
    text-align: center;
}
label {
    font-size: 20px;
    margin: 10px;
}
.modal {
    font-family: 'lato';
    font-weight: bold;
    color: var(--text-color); 
    margin: 5% auto;
    padding: 1em;
    max-width: 320px;
    border: none var(--hover);
    border-radius: 10px;
    background-image: var(--secondary-color)
}

.modal-input {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 5% auto;
    border: none;
    border-radius: 4px;
    font-size: 18px;;
    padding: .3em;
    background: var(--text-color); 
}
#close,
#final-score-close-btn,
#modal-start-btn {
    display: flex;
    justify-content: center;
    font-size: 20px;
    padding: 12px 40px;
    border: 1px solid;
    background-color: var(--primary-color); 
    border-radius: 15px;
    text-align: center;
    text-decoration: none;
    margin: 5% auto;
    color: var(--text-color); 
}

.quiz-container {
    background-color: var(--background-colour);
    opacity: 0.9;
    width: 80%;
    margin: auto;
    padding: 1rem;
    color: var(--text-color); 
    border-radius: 1.5rem;
}
#question {
    display: block;
    width: 80%;
    margin: 5px auto; 
    padding: 15px 20px;
    border: 0 solid;
    border-radius: 15px;
    background-color: var(--primary-color);
    color: var(--text-color);  
    text-align: center;
    font-size: 26px;
    font-weight: bold;
}

.answer-btn {
    display: block; 
    width: 80%; 
    margin: 5px auto; 
    font-size: 18px;
    padding: 15px 0; 
    background-color: var(--primary-color);
    border: 0 solid;
    border-radius: 15px;
    text-align: center;
    color: var(--text-color); 
}
#instruction:hover,
#close:hover,
#next:hover,
#restart-btn:hover,
#modal-start-btn:hover,
#final-score-close-btn:hover,
.score:hover,
.answer-btn:hover,
#question:hover {
    background-color: var(--hover);
}
.player-info {
    display: flex; 
    justify-content:center;
}
.score-btn {
    margin: 5px;
    font-size: 26px;
    font-family: 'lato';
}

#instruction,
#next,
#restart-btn {
    display: flex;
    margin: 5px;
    font-size: 18px;
    padding: 10px 50px; 
    background-color: var(--primary-color); 
    border: 1px solid;
    border-radius: 15px;
    color: var(--text-color); 
     
}
.navigation-btns {
    display: flex;
    justify-content: center; 

}
footer {
    text-align: center;
    padding: 10px;
    border-radius: 2px;
    background-image: var(--secondary-color);
    width: 100%;
    margin-top: auto;   
}

.social {
    font-size: 2.5rem;
    margin: .5em .8em;
    height: 30px;
}
@media (max-width: 481px) {

    .navigation-btns {
    padding: 5px 10px;
    display: flex;
    flex-direction: column;

}
#instruction,
#next,
#restart-btn {
    margin: 5px;
    font-size: 18px;
    padding: 10px 50px; 
    background-color: var(--primary-color); 
    border: 1px solid;
    border-radius: 15px;
    color: var(--text-color); 
}
}