:root {
    /*--Colours--*/
    --text-color:  aliceblue;
    --primary-color: #102747;
    --secondary-color: linear-gradient(#00050d, #3866a6);
    --hover: #0D1C33;
    --background-colour: rgba(0, 0, 0, 0.8); 
    --red: #800e32;
    --green: #055d2c;
  }
  body {
    font-family: 'lato';
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    color: var(--text-color);
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    overflow-x: hidden; 
}
a
{
    text-decoration: none;
    color: var(--text-color);
}
p {
    font-size: 18px;
    line-height: 2;
}

h1 {
    text-align: center;
    font-style: italic;
    font-size: 50px;
    margin-top: 20px;
    text-shadow: 2px 2px 2px var(--text-color);
}
h2,
h3 {
    text-align: center;
    margin-top: 30px;
}

h2 {
    font-size: 32px;
    font-weight: bold;
}

h3 {
    font-size: 18px; 
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;

}
li {
    font-family: 'lato';
    font-size: 20px;
    text-align: center;
    padding: 15px 0; 
    background-color: var(--primary-color);
    border: 0 solid;
    border-radius: 15px;
    color: var(--text-color);  
}